/* Centering and capitalizing headers */
h2, h3, h4, h5 {
    text-align: center;
    text-transform: uppercase;
}

/* Round image for avatar */
.avatar {
    border-radius: 50%;
}

/* Use 95% screen width but no more than 1024 pixels */
.main {    
    margin: auto; /* Center */
    width: 95%;
    max-width: 1024px;
    box-shadow: 0 0 10px 8px #999;
}

/* Shadow */
.shadow {
    box-shadow: 0 0 10px 8px #999;
}

/* Hide input */
.hidden {
    display: none;
}

/* Justifying text */
.text-justify {
    text-align: justify;
}

.table-header {
    font-weight: bold;
}

/* Pill-shaped button */
.pill {
    border-radius: 24px;
}

/* Bigger social media icons */
.bigIcon {
    font-size: 2rem;
}

/* Generated color palette for background and text */
.palette0 {
    background-color: #FFFFFF;
}

.palette1 {
    background-color: #FB6F92;
}

.palette2 {
    background-color: #FF8FAB;
}

.palette3 {
    background-color: #FFB3C6;
}

.palette4 {
    background-color: #FFC2D1;
}

.palette5 {
    background-color: #FFE5EC;
}

.text0 {
    color: #FFFFFF;
}

.text1 {
    color: #FB6F92;
}